body {
  margin: 0;
  padding: 0;
  background-color: #3b3b3b;
}

canvas{
  z-index: 1;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4b4b4b;
}

.botao-reset {
  z-index: 2000;
}

.background-jogo {
  background-image: url("./assets/fundo-jogo.svg");
  background-repeat: no-repeat;
  width: 100%;
}

.background-jogo-play {
  background-image: url("./assets/fundo-jogo-2.svg");
  background-repeat: no-repeat;
  width: 100%;
}

.hide {
  display: none !important;
}
